<div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-6 mx-4">
  <div>
    <%= link_to game_sessions_path do %>
      <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
        <div class="mt-12">
          <p class="mt-2 text-center text-2xl font-bold text-gray-500">Create game</p>
          <p class="my-4 text-center text-sm text-gray-500">Just a small miss, 2/5 Tasks</p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to game_sessions_show_path do %>
      <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
        <div class="mt-12">
          <p class="mt-2 text-center text-2xl font-bold text-gray-500">Games saved</p>
          <p class="my-4 text-center text-sm text-gray-500">Just a small miss, 2/5 Tasks</p>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
      <div class="mt-12">
        <p class="mt-2 text-center text-2xl font-bold text-gray-500">Pro mode</p>
        <p class="my-4 text-center text-sm text-gray-500">Just a small miss, 2/5 Tasks</p>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
      <div class="mt-12">
        <p class="mt-2 text-center text-2xl font-bold text-gray-500">Rosters</p>
        <p class="my-4 text-center text-sm text-gray-500">Just a small miss, 2/5 Tasks</p>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
      <div class="mt-12">
        <p class="mt-2 text-center text-2xl font-bold text-gray-500">Help</p>
        <p class="my-4 text-center text-sm text-gray-500">Just a small miss, 2/5 Tasks</p>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-md duration-300 hover:scale-105 hover:shadow-xl">
      <div class="mt-12">
        <p class="mt-2 text-center text-2xl font-bold text-gray-500">Settings</p>
        <p class="my-4 text-center text-sm text-gray-500">Just a small miss, 2/5 Tasks</p>
      </div>
    </div>
  </div>
</div>
